body {
  background-color: #ffffff;
}

.ui.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 68%,
    rgb(32, 167, 172) 89%
  );
}

.ui.main.container {
  margin-top: 7em;
}

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
  height: 100vh;
}

.masthead h1.ui.header {
  font-size: 4em;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}

/* Event List Item */
.event-list-item-title {
  font-size: 1.3em !important;
  font-weight: bold;
  margin-bottom: 5px;
  color: #4183c4;
}

.event-list-item-date i.icon {
  color: #4183c4;
}
.event-list-item-description {
  padding-bottom: 10px;
  color: #666666;
}

@media (min-width: 1px) and (max-width: 600px) {
  .event-list-item {
    margin: 0 !important;
  }
  .event-detailed-sidebar-sidebar {
    display: flex;
    flex-direction: row;
  }
  /* .event-detailed-sidebar-image {
    width: 100px !important;
  } */

  .ui.container.home-page-div {
    width: 100% !important;
  }
}

/* Nav Bar */
.nav-bar-icon {
  margin: 0px !important;
}

/* Accordion */
.ui.styled.accordion .accordion .title,
.ui.styled.accordion .title {
  background-color: rgb(35, 40, 46);
  border-bottom: 1px solid #eeeeee !important;
}

.ui.styled.accordion .active.title {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 68%,
    rgb(32, 167, 172) 89%
  );
}

.ui.vertical.tabular.menu .active.item {
  background: none #fff;
  color: rgba(0, 0, 0, 0.95) !important;
  border-color: #d4d4d5;
  margin: 0 -1px 0 0;
  border-radius: 0.28571429rem 0 0 0.28571429rem !important;
}

.content.active {
  background-color: #eaeaea;
}

.ui.vertical.menu {
  background-color: #23282e !important;
}
a.item.title {
  color: #ffffff !important;
}

.ui.styled.accordion .active.title {
  background-color: #2e353d;
}

/*::::::::::::::::::::*/
.month {
  float: right;
  color: #1e6f9d;
  font-style: italic;
  width: 100%;
}
.h2-month {
  text-align: left;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 50px !important;
  margin-top: 20px !important;
}

.annonce-title {
  color: #4183c4;
}

/* ICON Colors */
.daf {
  color: #016fac !important;
}
.drh {
  color: #00843b !important;
}
.dmk {
  color: #f57c00 !important;
}
.dsi {
  color: #00b0ff !important;
}
.prospections {
  color: #ff5c35 !important;
}
.infobtp {
  color: #f7a01f !important;
}
.diinfo {
  color: #f39d11 !important;
}
.industrieinfo {
  color: #08316e !important;
}
.itsecurityinfo {
  color: #52cc9d !important;
}
.decideursevents {
  color: #90258d !important;
}
.barometres {
  color: teal !important;
}

.category {
  cursor: pointer;
}

/* Calendar Title */
.calendar-title {
  box-shadow: 0 0 0 1px #a9d5de inset, 0 0 0 0 transparent;

  color: #276f86;
  border-color: #a9d5de;
  border-radius: 0.25rem;
  position: relative;
  min-height: 1em;
  margin: 1em 0;
  background: #f8ffff;
  padding: 1em 1.5em;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease,
    box-shadow 0.1s ease;
}

.calendar-period {
  font-size: 1.3rem;
  font-weight: bold;
  color: #00843b;
}
.calendar-icon {
  color: #00843b;
  padding-top: 5px;
}
